@charset"UTF-8";
Body{
  background-color:black;
  color: white;
  font-size:16px;
  font-family:"Times New Roman", Times, serif; 
}
.container{
  border: 1px solid black;
  box-shadow: 0px 0px 10px;
  padding: 15px;
  margin:20px;
  height: 480px;
  }
h2{
  color: red;
}
a{
  color:white;
}
h3{
  color:red;
}